* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.6;
}

.wt-section {
  padding-top: 7.25rem;
  padding-bottom: 7.25rem;
  max-width: 100vw !important;
  /* overflow: hidden; */
}

.div-center {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lorem {
  font-size: 20px !important;
}

.btn-primary {
  color: #000 !important;
  background: #54B4D3 !important;
  border-color: #54B4D3 !important;
}

.text-primary-y {
  color: #54B4D36d !important;
}

.bg-dark {
  background-color: #232323 !important;
}